@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    @using WebGUI.Models;
    @model IEnumerable<Student>;

}
<div id="tableview">
    <table style="border: 1px solid black">
        <caption>Students List</caption>
          <tr>
            <th style="border: 1px solid black">Id</th>
            <th style="border: 1px solid black">FirstName</th>
            <th style="border: 1px solid black">LastName</th>
            <th style="border: 1px solid black">Pin</th>
            <th style="border: 1px solid black">Balance</th>
            <th style="border: 1px solid black">University</th>
          </tr>
        @foreach (var student in Model)
        {
            <tr style="border: 1px solid black">
                <td style="border: 1px solid black">@student.Id</td>
                <td style="border: 1px solid black">@student.FirstName</td>
                <td style="border: 1px solid black">@student.LastName</td>
                <!-- <td style="border: 1px solid black">@student.AcctNum</td> -->
                <td style="border: 1px solid black">@student.Pin</td>
                <td style="border: 1px solid black">@student.Balance</td>
                <td style="border: 1px solid black">@student.University</td>
            </tr>
        }
    </table>
</div>